@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}
header {
    height: 75px;
}
span {
    font-weight: 600;
}
#loading-spinner, #not-found {
    display: none;
}
.card {
    background-color: #F0FFFF;
}
.btn {
    background-color: #7b68ee;
}

@media only screen and (min-width: 768px) {
    .input-group {
        width: 50%;
    }
}